<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <div class="container choose-file-container">
        <div class="file-element">
            <label>OSI</label>
            <a href="/classic/osi" class="file-link">Классический</a>
            <a href="/alphabet/osi" class="file-link">Alphabet</a>
        </div>
        <div class="file-element">
            <label>HTTP</label>
            <a href="/classic/http" class="file-link">Классический</a>
            <a href="/alphabet/osi" class="file-link">Alphabet</a>
        </div>
    </div>
</body>
</html>