<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <div class="container choose-file-container">
        <div class="file-element">
            <label>Сетевая модель OSI</label>
            <a href="/classic/osi" class="file-link">Классический</a>
            <a href="/keywords/osi" class="file-link">Ключевые слова</a>
        </div>
        <div class="file-element">
            <label>HTTP</label>
            <a href="/classic/http" class="file-link">Классический</a>
            <a href="/keywords/http" class="file-link">Ключевые слова</a>
        </div>
        <div class="file-element">
            <label>Компилятор</label>
            <a href="/classic/compiler" class="file-link">Классический</a>
            <a href="/keywords/compiler" class="file-link">Ключевые слова</a>
        </div>
        <br />
        <div class="file-element">
            <label>Конан-Дойль</label>
            <a href="/classic/doil" class="file-link">Классический</a>
            <a href="/keywords/doil" class="file-link">Ключевые слова</a>
        </div>
        <div class="file-element">
            <label>1984</label>
            <a href="/classic/1984" class="file-link">Классический</a>
            <a href="/keywords/1984" class="file-link">Ключевые слова</a>
        </div>
    </div>
</body>
</html>